[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
pillow = "*"
fire = "*"
logzero = "*"

[requires]
python_version = "3.7"

[dev-packages]
pytest = "*"

[scripts]
cli = "pipenv run python aeroplast.py"
